/* 键去掉浏览器的默认样式 */ 
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style-type: none;
}
body{
	background: #F5F5F5;
	height: 5000px;
}
input{
	outline: none;
}

/* 白块 */
.top_whild{
	width: 100%;
	height: auto;
	background: #fff;
	padding-bottom: 40px;
}
/* 头部开始 */
.header{
	width: 100%;
	height: 40px;
	background: #333333;
}
.header_center{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
.header_left{
	width: 408px;
	height: 40px;
	float: left;
}
.header_left a{
	font-size: 12px;
	color: #B0B0B0;
	float: left;
	margin-top: 12px;
	padding: 0 7px;
	border-right: 1px solid #50504C;
}
.header_left a:first-child{
	padding-left: 0;
}
.header_left a:last-child{
	padding-right: 0;
	border-right: 0;
}
.header_left a:hover{
	color: #fff;
}
.header_right{
	width: 274px;
	height: 40px;
	float: right;
	position: relative;
}
.right_denglu{
	width: 129px;
	height: 40px;
	float: left;
}
.right_denglu a{
	font-size: 12px;
	color: #b0b0b0;
	float: left;
	margin-top: 12px;
	padding: 0 7px;
	border-right: 1px solid #50504C;
}
.right_denglu a:first-child{
	padding-left: 0;
}
.right_denglu a:last-child{
	padding-left: 10px;
	padding-right: 0;
	border: 0;
}
.right_denglu a:hover{
	color: #fff;
}
.header_gouwu{
	width: 120px;
	height: 40px;
	background: #424242;
	margin-left: 25px;
	float: right;
	text-align: center;
	line-height: 40px;
	position: relative;
}
.header_gouwu .iconfont{
	 font-family: 'iconfont';
	font-size: 14px;
	color: #AEAEAE;
	float: left; 
	margin-left: 17px;
}
.che_word{
	font-size: 12px;
	color: #AEAEAE;
	float: left; 
	margin-left: 5px;
}
.header_gouwu.active{
	background: #fff;
}
.header_gouwu:hover .iconfont{
	color: #FF6700;
}
.header_gouwu:hover .che_word{
	color: #FF6700;
}
.gouwu_box{
	width: 316px;
	font-size: 12px;
	color:#424242;
	text-align: center;
	line-height:83px;
	background: #fff;
	box-shadow: 0 2px 10px rgba(0,0,0,.15);
	position: absolute;
	z-index: 0;
	top:40px;
	left:-196px;
	overflow: hidden;
}
.gouwu_box.active{

}
/* 头部结束 */
/* 导航开始 */
.nav{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}
.nav_logo{
	width: 55px;
	height: 55px;
	float: left;
	margin-top: 22px;
	margin-right: 189px;
}
.nav_word{
	width: auto;
	height: 100px;
	float: left;
}
.nav_box{
	width: auto;
	height: 61px;
	float: left;
	padding-right: 20px;
	padding-bottom: 17px;
	margin-top: 22px;
	position: relative;
}
.nav_box:last-child{
	padding-right: 0;
}
.nav_word .nav_box.nav_box_active{
	background: yellow;
}
.nav_box a{
	display: block;
	width: 100%;
	font-size: 16px;
	color: #606060;
	text-align: center;
	line-height: 61px;
}
.nav_box:hover a{
	color: #FF6700;
}
.nav_word .nav_xuan{
	width: 100%;
	background: #fff;
	border-top: 1px solid #E0E0E0;
	position: absolute;
	overflow: hidden;
	top: 139px;
	left: 0;
	z-index: 990;
}
.nav_xuan .xuan_center{
	width: 1226px;
	height: 201px;
	position: absolute;
	top:0;
	left:0;
	right:0;
	margin: auto;
}
.nav_xuan .xuan_center.block{
	display: block;
}
.nav_xuan .xuan_center li{
	width: 185px;
	height: 171px;
	margin: 29px 10px 0;
	text-align: center;
	float: left;
}
.nav_xuan .xuan_center li:first-child{
	margin-left: 0;
}
.nav_xuan .xuan_center li:last-child{
	margin-right: 0;
}
.nav_xuan .xuan_center li a{
	display: block;
	width: 160px;
	height: 145px;
	margin: 0 auto;
	text-align: center;
}
.nav_xuan .xuan_center li a img{
	width: 160px;
	height: 110px;
	padding-right: 20px;
	margin-bottom: 12px;
	border-right: 1px solid #E0E0E0;
}
.nav_xuan .xuan_center li a span{
	font-size: 10px;
	color: #1B1B1B;
}
.nav_xuan .xuan_center li div{
	font-size: 10px;
	color: #ff6700;
	margin-top: 5px;
}
.nav_search{
	width: 296px;
	height: 100px;
	float: right
}
.serch_box{
	width: 296px;
	height: 50px;
	background: #fff;
	margin-top: 25px;
}
.serch_box .serch_left{
	width: 243px;
	height: 48px;
	border: 1px solid #E0E0E0;
	background: #fff;
	/* float: left; */
}
.serch_box:hover .serch_left{
	border: 1px solid #FF6700;
}
.serch_center{
	width: 143px;
	height: 18px;
	float: right;
	margin-right: 60px;
	margin-top: -34px;
	/* display: block; */
}
.serch_word{
	width: 68px;
	height: 18px;
	background: #EEEEEE;
	float: left;
	margin-right: 5px;
	font-size: 12px;
	color: #757575;
	text-align: center;
}
.serch_word:hover{
	background: #FF6700;
	color: #fff;
}
.serch_word:last-child{
	width: 70px;
	margin-right: 0;
}
.serch_right{
	width: 51px;
	height: 50px;
	border: 1px solid #E0E0E0;
	border-left: 0;
	float: right;
	background: url('../img/sousuo.png') no-repeat center center;
	background-size: 18px 18px;
}
.serch_box:hover .serch_right{
	border: 1px solid #FF6700;
	border-left: 0;
}
.serch_right:hover{
	background: url('../img/sousuo1.png') no-repeat center center rgba(255, 103, 0, 1.0);
	background-size: 18px 18px;
}
/* .serch_box i:hover{
	color: #fff;
} */
/* 导航结束 */
/* banner开始 */
.banner{
	width: 1226px;
	height: 460px;
	margin: 0 auto 14px;
	position: relative;
}
.banner_img{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
}
/* banner图片 */
.banner_img li{
	width: 100%;
	height: 100%;
    position: absolute;
    top: 0;
    left: 0;
	opacity: 0;
}
.banner_img li.active{
	opacity: 1;
}
.banner_img li.z{
    z-index: 100;
}
.banner_img li a{
	display: block;
	width: 100%;
	height: 100%;
}
.banner_img img{
	width: 100%;
	height: 100%;
}
/* banner 侧导航*/
.banner_nav{
	width: 234px;
	height: 440px;
	background: rgba(0, 0, 0, .7);
	padding-top: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
}
.banner_nav li{
	width: 234px;
	height: 42px;
}
.banner_nav a{
	width: 100%;	
	height: 100%;	
	display: block;
}
.banner_nav li:hover{
	background: #ff6700;
}
.aside_left{
	font-size: 14px;
	color: #fff;
	float: left;
	line-height: 42px;
	margin-left: 29px;
}
.banner_nav .iconfont{
	font-size: 12px;
	color: #BDBAB6;
	float: right;
	line-height: 42px;
	margin-right: 24px;
}
.banner_none{
	width: 795px;
	height: 460px;
	background: #fff;
	border-top: 1px solid #ccc;
	position: absolute;
	left: 234px;
	top: 0px;
	z-index: 999;
	box-shadow: 0 3px 25px 2px rgba(0, 0, 0, 0.1);
}
.banner_none .none_one{
	width: 260px;
	height: 460px;
	float: left;
}
.banner_none .none_one li{
	width: 265px;
	height: 76px;
	background: #fff;
}
.banner_none .none_one li a{
	display: block;
	padding: 18px 20px;
	box-sizing: border-box;
	line-height: 40px;
}
.banner_none .none_one li a img{
	width: 40px;
	height: 40px;
	margin-right: 12px;
	float: left;
}
.banner_none .none_one li a span{
	font-size: 12px;
	color:#333;
	float: left;
}
.banner_none .none_one li a:hover span{
	color: #ff6700;
}
.banner_full{
	width: 993px;
	height: 460px;
	position: absolute;
	left: 234px;
	top: 0px;
	z-index: 9999;
}
.banner_full .full_one{
	width: 248px;
	height: 460px;
	float: left;
}
.banner_full .full_one li{
	width: 265px;
	height: 76px;
	background: #fff;
}
.banner_full .full_one li a{
	display: block;
	padding: 18px 20px;
	box-sizing: border-box;
	line-height: 40px;
}
.banner_full .full_one li a img{
	width: 40px;
	height: 40px;
	margin-right: 12px;
	float: left;
}
.banner_full .full_one li a span{
	font-size: 12px;
	color:#333;
	float: left;
}
.banner_full .full_one li a:hover span{
	color: #ff6700;
}
/* banner轮播点 */
.banner_button{
	width: 90px;	
	height: 10px;	
	position: absolute;
	right: 35px;
	bottom: 25px;
	z-index: 300;
}
.banner_button span{
	width: 6px;	
	height: 6px;	
	background: rgba(0, 0, 0, .5);
	border: 2px solid #ccc;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.banner_button span:last-child{
	margin-right: 0;
}
.banner_button span.active{
	border: 2px solid #fff;
}
/* banner左键 */
.banner_left{
	display: inline-block;
	width: 41px;	
	height: 69px;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 100;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 234px;
}
.banner_left:hover{
	background: rgba(0, 0, 0, .5);
}
.banner_left .iconfont{
	font-size: 32px;
	color: #ccc;
	text-align: center;
	line-height: 69px;
	/* margin-left: 10px; */
}
/* banner右键 */
.banner_right{
	display: inline-block;
	width: 41px;	
	height: 69px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	right: 0;
	z-index: 100;
}
.banner_right:hover{
	background: rgba(0, 0, 0, .5);
}
.banner_right .iconfont{
	font-size: 32px;
	color: #ccc;
	text-align: center;
	line-height: 69px;
	margin-left: 5px;
}
.banner_left:hover .iconfont{
	color: #fff;
}
.banner_right:hover .iconfont{
	color: #fff;
}
/* banner结束 */
/* 广告开始 */
.guangao{
	width: 1226px;
	height: 170px;
	/* background: red; */
	margin: 0 auto;
}
.guangao_left{
	width: 228px;
	height: 164px;
	background: #5F5750;
	float: left;
	padding: 3px;
	margin-right: 14px;
}
.guangao_left .six_top{
	width: 66px;
	height: 70px;
	margin-left: 4px;
	margin-top: 10px;
	padding-right: 4px;
	margin-bottom: 10px;
	border-right: 1px solid #665e57;
	float: left;
}
.six_top:nth-child(3){
	border-right: 0;
}
.guangao_left .six_bottom{
	width: 66px;
	height: 70px;
	margin-left: 8px;
	margin-bottom: 10px;
	border-right: 1px solid #665e57;
	float: left;
}
.six_bottom:nth-child(6){
	border-right: 0;
}
.left_six .iconfont{
	display: block;
	font-size: 26px;
	color: #CDCAC8;
	text-align: center;
	margin-bottom: 3px;
}
.left_six .six_word{
	width: 66px;
	height: 21px;
	margin: 0 auto;
	font-size: 12px;
	color: #CDCAC8;
	text-align: center;
	padding-bottom: 21px;
	border-bottom: 1px solid #665e57;
}
.six_bottom .left_six .six_word{
	border-bottom: 0;
}
.six_top:hover .iconfont{
	color: #fff;
}
.six_top:hover .six_word{
	color: #fff;
}
.six_bottom:hover .iconfont{
	color: #fff;
}
.six_bottom:hover .six_word{
	color: #fff;
}
/* 图片 */
.guangao_img{
	display: block;
	float: left;
	width: 316px;
	height: 170px;
	background: pink;
	margin-right: 15px;
}
.guangao_img:last-child{
	margin-right: 0;
}
.guangao_img img{
	width: 316px;
	height: 170px;
}
/* 广告结束*/
/* 明星单品开始 */
.danpin{
	width: 1226px;
	height: 400px;
	background: #fff;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.danpin_top{
	width: 100%;
	height: 60px;
	background: #fff;
}
.danpin_left{
	width: 130px;
	height: 60px;
	background: #fff;
	float: left;
	line-height: 60px;
	font-size: 20px;
	font-weight: 200;
}
.danpin_right{
	width: 71px;
	height: 100%;
	background: #fff;
	float: right;
}
.left_jiantou{
	width: 34px;
	height: 22px;
	border: 1px solid #E0E0E0;
	float: left;
	margin-top: 26px;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	color: #E0E0E0;
}
.left_jiantou.active{
	color: #B0B0B1;
}
.right_jiantou{
	width: 34px;
	height: 22px;
	border: 1px solid #E0E0E0;
	border-left: 0;
	margin-top: 26px;
	float: right;
	text-align: center;
	line-height: 24px;
	font-size: 10px;
	color: #E0E0E0;
}
.left_jiantou:hover i{
	color: #ff6700;
}
.right_jiantou:hover i{
	color: #ff6700;
}
.danpin_bottom{
	width: 100%;
	height: 340px;
	background: #fff;
	position: absolute;
	top:60px;
	left:100%;
}
.danpin_bottom.active{
	left:0;
}
.danpin_list{
	width: 234px;
	height: 339px;
	background: #fafafa;
	float: left;
	margin-right: 14px;
}
.danpin_bottom .danpin_list:first-child{
	border-top: 1px solid #FFAC13;
}
.danpin_bottom .danpin_list:nth-child(2){
	border-top: 1px solid #83C44E;
}
.danpin_bottom .danpin_list:nth-child(3){
	border-top: 1px solid #2196F3;
}
.danpin_bottom .danpin_list:nth-child(4){
	border-top: 1px solid #E53935;
}
.danpin_bottom .danpin_list:nth-child(5){
	margin-right: 0;
	border-top: 1px solid #00C0A5;
}
.danpin_bottom .danpin_list:nth-child(6){
	border-top: 1px solid #FFAC13;
}
.danpin_bottom .danpin_list:nth-child(7){
	border-top: 1px solid #83C44E;
}
.danpin_bottom .danpin_list:nth-child(8){
	border-top: 1px solid #2196F3;
}
.danpin_bottom .danpin_list:nth-child(9){
	border-top: 1px solid #E53935;
}
.danpin_bottom .danpin_list:last-child{
	margin-right: 0;
	border-top: 1px solid #00C0A5;
}
.danpin_img{
	display: block;
	width: 169px;
	height: 152px;
	margin: 40px auto 0;
}
.danpin_title{
	display: block;
	margin-top: 30px;
	text-align: center;
	font-size: 12px;
	color: #212121;
}
.danpin_title1{
	font-size: 12px;
	color: #B0B0B0;
	text-align: center;
	margin-top: 5px;
}
.danpin_jiage{
	font-size: 12px;
	color: #FF6709;
	text-align: center;
	margin-top: 15px;
}
/* 明星单品结束 */
/* 家电开始 */
.jiadian{
	width: 1226px;
	height: 672px;
	margin: 60px auto;
	background: #F5F5F5;
	/*margin-top: 60px;*/
	/*margin-bottom: 22px;*/
}
.jiadian_title{
	width: 100%;
	height: 58px;
}
.title_L{
	width: 45px;
	height: 100%;
	float: left;
	font-size: 22px;
	color: #000;
	line-height: 58px;
}
.title_R {
	width: 285px;
	height: 100%;
	float: right;
}
.right_title{
	width: 30px;
	height: 19px;
	font-size: 15px;
	color: #424242;
	margin-left: 30px;
	text-align: center;
	line-height: 60px;
	padding-bottom: 5px;
	border-bottom: 2px solid transparent;
	transition: border-color .5s;
}
a.active_{
	margin-left: 30px;
	color: #FF6700;
	/*transition: all 0.1s 0.2s;*/
	border-bottom: 2px solid #ff6700;

}
.jiadian_bottom{
	width: 100%;
	height: 614px;
}
.jiadian_left{
	display: block;
	width: 234px;
	height: 614px;
	background: yellow;
	float: left;
	margin-right: 14px;
	transition: all .5s;
}
.jiadian_left:hover{
	transform: translateY(-5px);
	box-shadow: 0 3px 25px 2px rgba(0, 0, 0, 0.1);
}
.jiadian_left img{
	width: 234px;
	height: 614px;
}
.jiadian_right{
	width: 978px;
	height: 614px;
	float: right;
	display: none;
}
.jiadian_right.active_{
	display: block;
}
.jiadian_box{
	width: 234px;
	height: 300px;
	background: #fff;
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	transition-property: transform,box-shadow;
	transition-duration: .5s;
	position: relative;
	overflow: hidden;
}
.jiadian_box:hover{
	transform: translateY(-5px);
	box-shadow: 0 3px 25px 2px rgba(0, 0, 0, 0.1);
}
.jiadian_none{
	display: block;
	width: 174px;
	height: 60px;
	padding: 8px 30px; 
	background: #ff6700;
	transition: all .5s;
	position: absolute;
	left: 0;
	bottom: -76px;
}
.jiadian_none p{
	font-size: 12px;
	color: #fff;
	margin-bottom: 5px;
}
.jiadian_none span{
	font-size: 12px;
	color: #FFC299;
}
.jiadian_box:hover .jiadian_none{
	display: block;
	transform: translateY(-76px);
}
.jiadian_box:nth-child(4){
	margin-right: 0;
}
.jiadian_zhekou{
	width: 234px;
	height: 20px;
	float: left;
	/* background: yellow; */
}
.zhekou_center{
	width: 64px;
	height: 20px;
	background: #E64A47;
	margin: 0 auto;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
.xinping_center{
	width: 64px;
	height: 20px;
	background: #83C44E;
	margin: 0 auto;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
.jiadian_img{
	display: block;
	width: 150px;
	height: 156px;
	margin: 34px auto 0;
}
.jiadian_img img{
	display: block;
	width: 150px;
	height: 156px;
}
.jiadian_word{
	display: block;
	font-size: 12px;
	color: #333333;
	text-align: center;
	margin-top: 13px;
}
.jiadian_word1{
	display: block;
	font-size: 12px;
	color: #B0B0B0;
	text-align: center;
	margin-top: 2px;
}
.jiadian_jiage{
	width: 100%;
	height: 12px;
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
}
.jiadian_jiage span{
	color: #FF6700;
}
.jiadian_jiage del{
	margin-left: 2px;
	color: #b0b0b0;
	text-decoration: line-through;
}
.box_first{
	width: 234px;
	height: 143px;
	margin-bottom: 14px;
	background: #fff;
	float: left;
	transition-property: transform,box-shadow;
	transition-duration: .5s;
}
.box_first:hover{
	transform: translateY(-5px);
	box-shadow: 0 3px 25px 2px rgba(0, 0, 0, 0.1);
}
.first_left{
	width: 104px;
	height: 40px;
	float: left;
	margin-top: 45px;
	margin-left: 28px;
}
.first_word{
	font-size: 14px;
	color: #333333;
}
.first_jiage{
	margin-top: 10px;
	font-size: 14px;
	color: #FF6700;
}
.first_img{
	width: 80px;
	height: 80px;
	float: right;
	margin-top: 40px;
	margin-right: 20px;
}
.first_img img{
	width: 80px;
	height: 80px;
}
.box_last{
	width: 234px;
	height: 143px;
	background: #fff;
	float: left;
	transition-property: transform,box-shadow;
	transition-duration: .5s;
}
.box_last:hover{
	transform: translateY(-5px);
	box-shadow: 0 3px 25px 2px rgba(0, 0, 0, 0.1);
}
.last_left{
	width: 104px;
	height: 40px;
	float: left;
	margin-top: 50px;
	margin-left: 28px;		
}
.last_word{
	font-size: 18px;
	color: #333333;
}
.last_remen{
	display: block;
	font-size: 12px;
	margin-top: 2px;
	color: #ADADAD;
}
.last_img{
	width: 80px;
	height: 80px;
	float: right;
	margin-top: 32px;
	margin-right: 20px;
	background: url('../img/jiantou.png') no-repeat center;
	background-size: 48px 48px;
}
/* 家电结束 */
/* shopping开始 */
.shopping{
	width: 1226px;
	height: 686px;
	margin: 0 auto 8px;
	background: #F5F5F5;
}
.shopping_title{
	width: 100%;
	height: 58px;
}
.title_left{
	width: 45px;
	height: 100%;
	float: left;
	font-size: 22px;
	color: #000;
	line-height: 58px;
}
/* 智能标题右开始 */
.title_right{
	width: auto;
	height: 100%;
	float: right;
}
.right_word{
	font-size: 15px;
	color: #424242;
	margin-left: 25px;
	text-align: center;
	line-height: 50px;
	padding-bottom: 5px;
	border-bottom: 2px solid transparent;
	/*transparent 透明的*/
	transition: border-color .5s;
}
.right_word.active_{
	margin-left: 25px;
	color: #FF6700;
	border-bottom: 2px solid #FF6700;
}
/* 智能标题右结束 */
.shopping_bottom{
	width: 1226px;
	height: 614px;
}
.shopping_left{
	display: block;
	width: 234px;
	height: 614px;
	float: left;
	margin-right: 14px;
}
.left_one{
	display: block;
	width: 234px;
	height: 300px;
	transition-property: transform,box-shadow;
	transition-duration: .5s;
}
.left_one:hover{
	transform: translateY(-5px);
	box-shadow: 0 3px 25px 2px rgba(0, 0, 0, 0.1);
}
.left_one:first-child{
	margin-bottom: 14px;
}
.left_one img{
	width: 234px;
	height: 300px;
}
.shopping_right{
	width: 978px;
	height: 614px;
	background: #F5F5F5;
	float: right;
	display: none;
}
.shopping_right.active_{
	display: block;
}
.shopping_box{
	width: 234px;
	height: 300px;
	background: #fff;
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	transition-property: transform,box-shadow;
	transition-duration: .5s;
	position: relative;
	overflow: hidden;
}
.shopping_box:nth-child(4){
	margin-right: 0;
}
.shopping_box:hover{
	transform: translateY(-5px);
	box-shadow: 0 3px 25px 2px rgba(0, 0, 0, 0.1);
}
.shopping_none{
	display: block;
	width: 174px;
	height: 60px;
	padding: 8px 30px; 
	background: #ff6700;
	transition: all .5s;
	position: absolute;
	left: 0;
	bottom: -76px;
}
.shopping_none p{
	font-size: 12px;
	color: #fff;
	margin-bottom: 5px;
}
.shopping_none span{
	font-size: 12px;
	color: #FFC299;
}
.shopping_box:hover .shopping_none{
	display: block;
	transform: translateY(-76px);
}
.shopping_zhekou{
	width: 234px;
	height: 20px;
	float: left;
}
.zhekou_top{
	width: 64px;
	height: 20px;
	background: #E64A47;
	margin: 0 auto;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
.youfei_top{
	width: 64px;
	height: 20px;
	background: #ffac13;
	margin: 0 auto;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 20px;
}
.box_img{
	display: block;
	width: 150px;
	height: 156px;
	margin: 34px auto 0;
}
.box_img img{
	display: block;
	width: 150px;
	height: 156px;
}
.box_word{
	display: block;
	font-size: 12px;
	color: #333333;
	text-align: center;
	margin-top: 13px;
}
.box_word1{
	display: block;
	font-size: 12px;
	color: #B0B0B0;
	text-align: center;
	margin-top: 2px;
}
.shopping_jiage{
	width: 100%;
	height: 12px;
	margin-top: 10px;
	text-align: center;
	font-size: 12px;
}
span{
	color: #FF6700;
}
del{
	margin-left: 2px;
	color: #b0b0b0;
	text-decoration: line-through;
}
/* 搭配... */
.box_jiage{
	font-size: 12px;
	text-align: center;
	margin-top: 4px;
	color: #FF6700;
}
.box_pingjia{
	font-size: 12px;
	color: #BBCEE9;
	text-align: center;
	margin-top: 12px;

}
/* 搭配... */
.box_top{
	width: 234px;
	height: 143px;
	margin-bottom: 14px;
	background: #fff;
	float: left;
	transition-property: transform,box-shadow;
	transition-duration: .5s;
}
.box_top:last-child{
	margin-bottom: 0;
}
.box_top:hover{
	transform: translateY(-5px);
	box-shadow: 0 3px 25px 2px rgba(0, 0, 0, 0.1);
}
.top_left{
	width: 104px;
	height: 40px;
	float: left;
	margin-top: 45px;
	margin-left: 28px;
}
.top_word{
	font-size: 14px;
	color: #333333;
}
.top_jiage{
	margin-top: 10px;
	font-size: 14px;
	color: #FF6700;
}
.top_right{
	width: 80px;
	height: 80px;
	float: right;
	margin-top: 40px;
	margin-right: 20px;
}
.top_right img{
	width: 80px;
	height: 80px;
}
.bottom_left{
	width: 104px;
	height: 40px;
	float: left;
	margin-top: 50px;
	margin-left: 28px;	
}
.bottom_word{
	font-size: 18px;
	color: #333333;
}
.bottom_remen{
	display: block;
	font-size: 12px;
	margin-top: 2px;
	color: #ADADAD;
}
.bottom_right{
	width: 80px;
	height: 80px;
	float: right;
	margin-top: 32px;
	margin-right: 20px;
	background: url('../img/jiantou.png') no-repeat center;
	background-size: 48px 48px;
}
.bottom_right img{
	width: 80px;
	height: 80px;
}
/* shopping结束
/* 为你推荐开始 */
.tuijian{
	width: 1226px;
	height: 358px;
	margin: 0 auto 22px;
	position: relative;
	overflow: hidden;
}
.tuijian_top{
	width: 100%;
	height: 58px;
}
.tuijian_left{
	width: 130px;
	height:58px;
	float: left;
	line-height: 58px;
	font-size: 20px;
	font-weight: 200;
}
.tuijian_right{
	width: 71px;
	height: 100%;
	float: right;
}
.left_tuijiantou{
	width: 34px;
	height: 22px;
	border: 1px solid #E0E0E0;
	float: left;
	margin-top: 26px;
	text-align: center;
	line-height: 24px;
	font-size: 12px;
	color: #E0E0E0;
}
.left_tuijiantou.active{
	color: #B0B0B1;
}
.right_tuijiantou{
	width: 34px;
	height: 22px;
	border: 1px solid #E0E0E0;
	border-left: 0;
	margin-top: 26px;
	float: right;
	text-align: center;
	line-height: 24px;
	font-size: 10px;
	color: #E0E0E0;
}
.left_tuijiantou:hover i{
	color: #ff6700;
}
.right_tuijiantou:hover i{
	color: #ff6700;
}
.tuijian_bottom{
	width: 100%;
	height: 340px;
	position: absolute;
	top:58px;
	left:100%;
}
.tuijian_bottom.active{
	left:0;
}
.tuijian_list{
	width: 234px;
	height: 300px;
	background: #fff;
	float: left;
	margin-right: 14px;
	transition-property: transform,box-shadow;
	transition-duration: .5s;
}
.tuijian_list:hover{
	transform: translateY(-5px);
	box-shadow: 0 3px 25px 2px rgba(0, 0, 0, 0.1);
}
.tuijian_bottom .tuijian_list:last-child{
	margin-right: 0;
}
.tuijian_img{
	display: block;
	width: 140px;
	height: 140px;
	margin: 40px auto 0;
}
.tuijian_title{
	display: block;
	margin-top: 26px;
	text-align: center;
	font-size: 12px;
	color: #212121;
}
.tuijian_jiage{
	font-size: 12px;
	color: #FF6709;
	text-align: center;
	margin-top: 11px;
}
.tuijian_pingjia{
	font-size: 12px;
	color: #777776;
	text-align: center;
	margin-top: 15px;
}
/* 为你推荐结束 */
/* 热评开始 */
.reping{
	width: 1226px;
	height: 473px;
	margin: 0 auto 35px;
}
.reping_title{
	width: 100%;
	height: 58px;
}
.reping_left{
	width: 45px;
	height: 100%;
	float: left;
	font-size: 22px;
	color: #000;
	line-height: 58px;
}
.reping_box{
	width: 296px;
	height: 415px;
	background: #fff;
	float: left;
	margin-right: 14px;
	transition-property: transform,box-shadow;
	transition-duration: .5s;
}
.reping_box:hover{
	transform: translateY(-5px);
	box-shadow: 0 3px 25px 2px rgba(0, 0, 0, 0.1);
}
.reping_box:last-child{
	margin-right: 0;
}
.reping_top{
	width: 296px;
	height: 220px;
	margin-bottom: 28px; 
}
.reping_top img{
	width: auto;
	height: 220px;
}
.reping_bottom{
	width: 240px;
	height: 131px;
	padding: 0 28px;
}
.reping_bottom p{
	font-size: 14px;
	color: #363636;
	line-height: 24px;
	margin-bottom: 22px;
}
.reping_pingjia{
	font-size: 12px;
	color: #B0B0B0;
	margin-bottom: 8px;
}
.reping_word{
	width: 236px;
	height: 22px;
}
.reping_jieshao{
	display: inline-block;
	font-size: 12px;
	color: #333333;
	padding-right: 8px;
	border-right: 1px solid #E4EBF6;
}
.reping_jiage{
	display: inline-block;
	font-size: 12px;
	color: #FF6700;
	margin-left: 3px;
}
/* 热评结束 */
/* 内容开始 */
.neirong{
	width: 1226px;
	height: 478px;
	margin: 0 auto 22px;
}
.neirong_title{
	width: 100%;
	height: 58px;
}
.neirong_left{
	width: 45px;
	height: 100%;
	float: left;
	font-size: 22px;
	color: #000;
	line-height: 58px;
}
.neirong_bot{
	width: 1226px;
	height: 419px;
}
.neirong_box{
	width: 296px;
	height: 369px;
	background: #fff;
	float: left;
	margin-right: 14px;
	padding-top: 50px;
	border-top: 1px solid #FFAC13;
	transition-property: transform,box-shadow;
	transition-duration: .5s;
	overflow: hidden;
	position: relative;
}
.neirong_box:hover{
	transform: translateY(-5px);
	box-shadow: 0 3px 25px 2px rgba(0, 0, 0, 0.1);
}
.neirong_box:nth-child(3){
	border-top: 1px solid #83C44E;
}
.neirong_box:nth-child(4){
	border-top: 1px solid #E53935;	
}
.neirong_box:last-child{
	border-top: 1px solid #2196F3;
	margin-right: 0;
}
.neirong_aa{
	width: 296px;
	height: auto;
	position: absolute;
	left:100%;
}
.neirong_aa.active{
	left:0;
}
.neirong_top{
	width: 296px;
	height: 100px;
	margin-top: 6px;
}
.neirong_word{
	font-size: 16px;
	color: #FFAC13;
	text-align: center;
}
.neirong1{
	color: #83C44E;	
}
.neirong2{
	color: #E53935;	
}
.neirong3{
	color: #2196F3;
}
.neirong_word1{
	display: block;
	font-size: 18px;
	color: #333333;
	text-align: center;
	margin-bottom: 6px;
}
.neirong_word2{
	display: block;
	width: 200px;
	height: 40px;
	margin: 0 auto 7px;
	font-size: 12px;
	color: #B0B0B0;
	text-align: center;
}
.neirong_jiage{
	display: block;
	font-size: 12px;
	color: #333333;
	text-align: center;
}
.neirong_img{
	width: 216px;
	height: 154px;
	margin: 12px 40px 29px;
}
.neirong_img a{
	width: 216px;
	height: 154px;
}
.neirong_img img{
	width: 216px;
	height: 154px;
}
.n_left{
	width: 20px;
	height: 48px;
	background: #D9D9D9;
	text-align: center;
	line-height: 48px;
	font-size: 12px;
	color:#fff;
	position: absolute;
	top: 50%;
	margin-top:24px;
	left: 0;
	display: none;
}
.n_right{
	width: 20px;
	height: 48px;
	background: #D9D9D9;
	text-align: center;
	line-height: 48px;
	font-size: 12px;
	color:#fff;
	position: absolute;
	top: 50%;
	margin-top:24px;
	right: 0;
	display: none;
}
.n_right:hover{
	background: #8D8D8D;
}
.n_left:hover{
	background: #8D8D8D;
}
.neirong_box:hover .n_left{
	display: block;
}
.neirong_box:hover .n_right{
	display: block;
}
.neirong_button{
	width: 144px;
	height: 30px;
	position: absolute;
	left: 0;
	right:0;
	margin: auto;
	bottom: 15px;
}
.button_dot{
	display: inline-block;
	width: 6px;
	height: 6px;
	background: #b0b0b0;
	border: 2px solid #FFF;
	border-radius: 50%;
	float: left;
	margin-top: 10px;
	margin-left: 24px;
}
.button_dot.active{
	background: #FFF;
	border: 2px solid #FF6700;
}
/* 内容结束 */
/* 视频结束 */
.shipin{
	width: 1226px;
	height: 343px;
	margin: 0 auto 60px;
}
.shipin_title{
	width: 100%;
	height: 58px;
}
.shipin_left{
	display: block;
	width: 45px;
	height: 58px;
	float: left;
	font-size: 22px;
	color: #000;
	line-height: 58px;
}
.shipin_right{
	display: block;
	width: 95px;
	height: 25px;
	margin-top: 18px;
	float: right;
	text-align: center;
}
.shipin_chakan{
	width: 64px;
	height: 100%;
	float: left;
	margin-right: 9px;
	font-size: 16px;
	color: #454545;
	text-align: center;
	line-height: 25px;
}
.shipin_right .iconfont{
	font-size: 18px;
	color: #B0B0B0;
	line-height: 26px;
}
.shipin_right:hover .shipin_chakan{
	color: #ff6700;
}
.shipin_right:hover .iconfont{
	color: #ff6700;
}
.shipin_box{
	width: 296px;
	height: 285px;
	background: #fff;
	float: left;
	margin-right: 14px;
	transition-property: transform,box-shadow;
	transition-duration: .5s;
}
.shipin_box:hover{
	transform: translateY(-5px);
	box-shadow: 0 3px 25px 2px rgba(0, 0, 0, 0.1);
}
.shipin_box:nth-child(5){
	margin-right: 0;
}
.shipin_top{
	width: 296px;
	height: 180px;
	position: relative;
}
.shipin_top img{
	width: 296px;
	height: 180px;	
	float: left; 
}
.yuanjiao{
	width: 35px;
	height: 22px;
	border: 2px solid #fff;
	border-radius: 25px;
	position: absolute;
	bottom: 10px;
	left: 18px;
	text-align: center;
	line-height: 24px;
}
.yuanjiao .iconfont{
	font-size: 22px;
	color: #fff;
	
}
.shipin_top:hover .yuanjiao{
	background: #ff6700;
	border: 2px solid #ff6700;

}
.shipin_bottom{
	width: 296px;
	height: 77px;
}
.shipin_word{
	display: block;
	width: auto;
	height: 21px;
	margin-top: 28px;
	font-size: 13px;
	color: #333333;
	text-align: center;
}
.shipin_word:hover{
	color: #ff6700;
}
.shipin_wenzi{
	display: block;
	width: auto;
	height: 21px;
	margin-top: 4px;
	font-size: 12px;
	color: #B0B0B0;
	text-align: center;
}
/* 视频结束 */
/* 服务开始 */
.fuwu{
	width: 100%;
	height: 272px;
	background: #fff;
	margin-bottom: 30px;
}
.fuwu_box{
	width: 1226px;
	height: 272px;
	margin: 0 auto;
}
.fuwu_top{
	width: 1226px;
	height: 53px;
	border-bottom: 1px solid #ccc;
	background: #fff;
	padding-top: 26px;
}
.fuwu_word{
	width: 200px;
	height: 28px;
	background: yellow;
	border-right: 1px solid #ccc;
	background: #fff;
	float: left;
	padding-left: 42px;
}
.fuwu_word:last-child{
	border-right: 0;
}
.fuwu_first{
	display: block;
	width: auto;
	height: 28px;
	float: left;
	margin: 0 auto;
}
.fuwu_first .icon_box{
	width: auto;
	height: 28px;
	float: left;
}
.fuwu_first .fuwu_zi{
	width: auto;
	height: 28px;
	float: left;
	text-align: center;
	line-height: 28px;
}
.fuwu_first .icon1{
	font-size: 28px;
	color: #616161;
	text-align: center;
	line-height: 26px;
	margin-right: 8px;
}
.fuwu_first .icon2{
	font-size: 30px;
	color: #616161;
	text-align: center;
	line-height: 26px;
	margin-right: 8px;
}
.fuwu_first .icon3{
	font-size: 25px;
	color: #616161;
	text-align: center;
	line-height: 26px;
	margin-right: 8px;
}
.fuwu_first .icon4{
	font-size: 25px;
	color: #616161;
	text-align: center;
	line-height: 26px;
	margin-right: 8px;
}
.fuwu_first .icon5{
	font-size: 25px;
	color: #616161;
	text-align: center;
	line-height: 26px;
	margin-right: 8px;
}
.fuwu_first span{
	font-size: 16px;
	color: #616161;
}
.fuwu_first:hover span{
	color: #ff6700;
}
.fuwu_first:hover i{
	color: #ff6700;
}
.fuwu_bottom{
	width: 1226px;
	height: 152px;
	padding-top: 40px;
}
.fuwu_banzhu{
	width: 160px;
	height: 112px;
	float: left;
}
.fuwu_banzhu .bt{
	font-size: 14px;
	color: #424242;
	margin-bottom: 21px;
}
.fuwu_banzhu .bb{
	display: block;
	font-size: 14px;
	color: #757575;
	margin-bottom: 8px;
}
.fuwu_banzhu .bb:hover{
	color: #ff6700;
}
.fuwu_right{
	width: 254px;
	height: 112px;
	background: #fff;
	float: right;
	border-left: 1px solid #ccc;
	text-align: center;
}
.fuwu_right div:first-child{
	font-size: 22px;
	color: #ff6700;
	margin-bottom: 3px;
}
.fuwu_right div:nth-child(2){
	font-size: 12px;
	color: #616161;
	margin-bottom: 2px;
}
.fuwu_right div:nth-child(3){
	font-size: 12px;
	color: #616161;
}
.fuwu_right .fuwu_time{
	display: block;
	width: 118px;
	height: 28px;
	background: #fff;
	border: 1px solid #ff6700;
	margin: 13px auto 0;
	line-height: 26px;
}
.fuwu_right .fuwu_time:hover{
	background: #ff6700;
}
.fuwu_right .fuwu_time .iconfont{
	font-size: 12px;
	color: #ff6700;
	text-align: center;
}
.fuwu_right .fuwu_time .time{
	display: inline-block;
	font-size: 12px;
	color: #ff6700;
}
.fuwu_right .fuwu_time:hover .iconfont{
	color: #fff;
}
.fuwu_right .fuwu_time:hover .time{
	color: #fff;
}
/* 服务结束 */
/* 结尾开始 */
.over{
	width: 1226px;
	height: 106px;
	margin: 0 auto 30px;
}
.over_top{
	width: 1226px;
	height: 57px;
}
.over_left{
	width: 57px;
	height: 57px;
	margin-right: 10px;
	float: left;
}
.over_left img{
	width: 57px;
	height: 57px;
}
.over_center{
	width: 600px;
	height: 55px;
	float: left;
}
.center_top{
	width: auto;
	height: 19px;
	margin-bottom: 2px;
}
.center_top a{
	display: inline-block;
	font-size: 12px;
	color: #757575;
	padding-right: 5px;
	border-right: 1px solid #ccc;
}
.center_top a:hover{
	color: #ff6700;
}
.center_top a:last-child{
	border-right: 0;
}
.center_bottom{
	width: auto;
	height: 36px;
	font-size: 12px;
	color: #B6B0B0;
}
.center_bottom span{
	font-size: 12px;
	color: #B6B0B0;
}
.center_bottom a{
	font-size: 12px;
	color: #B6B0B0;
}
.center_bottom a:hover{
	color: #ff6700;
}
.center_bottom p{
	font-size: 12px;
	color: #B6B0B0;
	margin-top: 2px;
}
.over_right{
	width: 450px;
	height: 30px;
	float: right;
	margin-top: 5px;
}
.over_img{
	display: block;
	width: 85px;
	height: 28px;
	background: #fff;
	float: left;
	margin-right: 5px;
	background: url('../img/over1.png') no-repeat center center;
	background-size: 85px 28px;
}
.over_img:nth-child(2){
	background: url('../img/over2.png') no-repeat center center;
	background-size: 85px 28px;
}
.over_img:nth-child(3){
	background: url('../img/over3.png') no-repeat center center;
	background-size: 85px 28px;
}
.over_img:nth-child(4){
	background: url('../img/over4.png') no-repeat center center;
	background-size: 85px 28px;
}
.over_img:last-child{
	background: url('../img/over5.png') no-repeat center center;
	background-size: 85px 28px;
}
.over_bottom{
	width: 280px;
	height: 20px;
	margin: 29px auto 0;
}
.over_bottom div{
	font-size: 20px;
	font-family: '方正舒体';
	color: #BABABA;
}
/* 结尾结束 */